{% extends "base.html" %}
{% block body %}
    <!-- <div class="content"> -->
        <!-- <h2>投稿スケジュール</h2> -->
        <form action="{{ url_for("login") }}" method="post">
            
              <div id="form-main">
            <div id="form-div">
              <form class="form" id="form1">
                
                <h2>ログイン</h2>

                <p class="name">
                  <input name="username" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="ユーザーID" id="username" />
                </p>
                
                <p class="password">
                  <input name="password" type="text" class="validate[required,custom[email]] feedback-input" id="password" placeholder="パスワード" />
                </p>
                
                <p>
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">次回から入力を省略する</label>
                </p>
                
                
                <div class="submit">
                  <input type="submit" value="送信" id="button-blue"/>
                  <div class="ease"></div>
                </div>
              </form>
            <!-- </div>
        </form> -->
        <a href="{{ url_for('register') }}">新規登録</a>
        {% if error %}
            <p style="color: red">{{ error }}</p>
        {% endif %}
        {% if information %}
            <p style="color: cornflowerblue">{{ information }}</p>
        {% endif %}
    </div>

  </div>
</form>
{% endblock %}