{% extends "base.html" %}
{% block body %}
<div class="left">
<div class="content2">
   
    <table>
        <tr>
            <th class="line">タイトル</th><th class="line">日付</th><th class="line"></th><th class="line">内容</th><th class="line">ID</th>
        </tr>
    {% for article in articled %}
    <tr>
        <td class="line"> {{ article["title"] }} </td>
        <td class="line">{{article["start"]}}</td>
          <td class="line"> {{article["end"]}}</td>
        <td class="line">{{ article["body"] }}</td>  
        <td class="line">{{ article["id"] }}</td>
    </tr>
    {% endfor %}
</table>
    {% if not articled %}
            <p>投稿された記事はありません</p>
        {% endif %}
    
<a href="{{ url_for('calender') }}" class="button2">カレンダー</a>
</div>
</div>

<div class="right">
<div class="content2">
    <!-- <div class='example'> -->
        
    <form action="{{ url_for("post_article_change") }}" method="post">
        <div>
            <label for="dates" class="text">日付</label>
            <!-- <input id="dates" type="date" name="dates"> -->
            <input id="start" type="datetime-local" name="start">
            <input id="end" type="datetime-local" name="end">
        </div>
        <div>
            <label for="title" class="text">タイトル</label>
            <input id="title" type="text" name="title"/>
        </div>
        <div>
            <label for="body" class="text">内容</label>
            <textarea id="body" name="body" rows="20" placeholder=""></textarea>
        </div>
        <div>
            <label for="id">id</label>
            <input id="id" type="text" name="id" >
        </div>
          <div>
              <button type="submit" id="button-blue">変更</button>
          </div>
          
      </form>
      <form action="{{ url_for('post_article_delete') }}" method="post">
        
          <label for="id">id</label>
          <input id="id" type="text" name="id" >
        <div>
          <button type="submit" id="button-blue">削除</button>
        </div>
      </form>
      
  </div>
    </div>
</div>
{% endblock %} 
