{% extends "base.html" %}
{% block body %}
<!DOCTYPE html>

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.0/main.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.0/main.min.js"></script>
    

    <link rel="stylesheet" type="text/css" href="{{url_for('static', path='/styles/styles.css')}}">
    

    <script>
      
    </script>
    
  </head>
  <body>
  
    <div id='calendar'>
      <header>
        <!-- <nav id="gnav"> -->
            <ul class="inner">
              <li>
                <a href="{{ url_for('create_article_page') }}" class="button">投稿</a>
              
              </li>
              <li>
                  <a href="{{ url_for('articles_index') }}" class="button">投稿一覧</a>
              </li>
              <li>
                <a href="{{ url_for('schedule_detail_page') }}" class="button">自分の投稿一覧</a>
            </li>
              <li>
                  <a href="{{ url_for('logout') }}" methods="post" class="button"> ログアウト </a>
              </li>
            </ul>
        <!-- </nav> -->
      </header>

    </div>  
    <!-- {{events}} -->
    <div id="calender-form">
      <div class="content">
        <div class='example'>
      <form action="{{ url_for('post_event') }}" method="post">
          <div>
              <!-- <label for="dates">日付</label> -->
              <label for="dates" class="text">日付</label>
              <!-- <input id="dates" type="datetime-local" name="dates"> -->
              <input id="start" type="datetime-local" name="start">
              <input id="end" type="datetime-local" name="end">
          </div>
          <div>
              <!-- <label for="title">タイトル</label> -->
              <label for="title" class="text">タイトル</label>
              <input id="title" type="text" name="title"/>
          </div>
          <div>
              <!-- <label for="body">内容</label> -->
              <label for="body" class="text">内容</label>
              <textarea id="body" name="body" rows="20" placeholder=""></textarea>
          </div>
          <div>
              <!-- <button type="submit">投稿</button> -->
              <button type="submit" id="button-blue">登録</button>
          </div>
          
      </form>
      <button id='close-btn'>閉じる</button>
  </div>
</div>
</div>
  <div id="calender_change-form">
    <div class="content">
      <div class='example'>
    <form action="{{ url_for('post_event_change') }}" method="post">
        <div>
            <!-- <label for="dates"　class="text">日付</label> -->
            <label for="dates" class="text">日付</label>
            <!-- <input id="dates" type="datetime-local" name="dates"> -->
            <input id="start" type="datetime-local" name="start">
            <input id="end" type="datetime-local" name="end">
        </div>
        <div>
            <!-- <label for="title"　class="text">タイトル</label> -->
            <label for="title" class="text">タイトル</label>
            <input id="title" type="text" name="title"/>
        </div>
        <div>
            <!-- <label for="body"　class="text">内容</label> -->
            <label for="body" class="text">内容</label>
            <textarea id="body" name="body" rows="20" placeholder=""></textarea>
        </div>
        <div style = "display:none;">
          <label for="id">id</label>
          <textarea id="id" name="id" rows="20" placeholder=""></textarea>
      </div>
        <div>
            <!-- <button type="submit"　id="button-blue">変更</button> -->
            <button type="submit" id="button-blue">変更</button>
        </div>
        
    </form>
    <form action="{{ url_for('post_event_delete') }}" method="post">
      <div style = "display:none;">
        <label for="id">id</label>
        <textarea id="id" name="id" rows="20" placeholder=""></textarea>
    </div>
      <div>
        <!-- <button type="submit"　id="button-blue">削除</button> -->
        <button type="submit" id="button-blue"> 削除</button>
      </div>
    </form>
    <button id='close-btn2'>閉じる</button>
</div>
</div>
</div>
    
  </body>
</html>
<!-- <div id="output"></div>
<script>
  let elem = document.getElementById("output");
    function getjson() {
    let xhr = new XMLHttpRequest();
    xhr.open('GET', 'http://localhost:8000/test');
    console.log(xhr.responseText);
    // xhr.onload = function {
    // if (xhr.readyState == 4 && xhr.status == 200) {
    // console.log(xhr.responseText);
    // } else {
    // console.log("status = " + status.status);
    // }
    // }
    xhr.send();
    }
    getjson();
</script> -->
<script type = "text/javascript">
    let events = {{events | tojson }};
</script>
<script type="text/javascript" src="{{url_for('static', path='/styles/main.js')}}"></script>
{% endblock %}